<div>
  <div class="text-center py-5">
    <h3 class="h3" style="color: #063970">
      <span style="color: #FE5630"> Votre</span> Compagnes
    </h3>
  </div>

  <!-- Course Listing Section -->
  <section class="course-listing-page">
    <div class="container">
      <div class="row" id="cGrid">
        <div *ngFor="let c of compagnes" class="col-md-6 mb-4 " style="width: 380px">
            <div class="card">
              <img src="{{c.photoUrl}}" class="card-img-top " alt="Course Title">
              <div class="card-body">
                <p class="card-text text-center">{{ c.titre }}</p>
                <!-- Status Indicator -->
                <div class="status-indicator text-center py-3" >
                  <span *ngIf="c.isTermine == false" class="badge bg-success">En cours</span>
                  <span *ngIf="c.isTermine == true" class="badge bg-danger">terminer</span>
                  <!-- OR -->
                  <!-- <span class="badge bg-warning">En cours</span> -->
                </div>
                <a [routerLink]="['/Donate',c.slug]" class="d-grid py-2 text-white text-center btn link-underline link-underline-opacity-0" style="background: #FE5630"> Voir Compagne </a>
              </div>
            </div>
        </div>
      </div>
    </div>
  </section>

</div>

