<!-- Carousel wrapper -->
<div class="banner">
  <!-- Bootstrap Carousel -->
  <div id="bannerCarousel" class="carousel slide carousel-fade" data-bs-ride="carousel">
    <div class="carousel-inner" itemprop="image">
      <div class="carousel-item active">
        <img src="assets/hub_12_18_charity-Hero-1200x900.jpg" class="d-block w-100" style="object-fit: contain" alt="Image of Banner">
      </div>
    </div>
  </div>
</div>
<!-- Carousel wrapper -->

<!-- Facts Start -->
<div class="container-fluid facts py-5 pt-lg-0">
  <div class="container py-5 pt-lg-0">
    <div class="row gx-0">
      <div class="col-lg-4" [@fadeInUp]>
        <div class="bg-white shadow d-flex align-items-center h-100 p-4" style="min-height: 150px;">
          <div class="d-flex">
            <div class="flex-shrink-0 btn-lg-square bg-primary"></div>
            <div class="ps-4">
              <h5>Faire un Donation</h5>
              <span>Votre donations peut changer des vies et apporter un impact immédiat.</span>
            </div>
          </div>
        </div>
      </div>

      <div class="col-lg-4" [@fadeInUp]>
        <div class="bg-white shadow d-flex align-items-center h-100 p-4" style="min-height: 150px;">
          <div class="d-flex">
            <div class="flex-shrink-0 btn-lg-square bg-primary"></div>
            <div class="ps-4">
              <h5>Partenariats et Aide</h5>
              <span>Rejoignez nos partenaires pour soutenir des causes importantes à travers le monde.</span>
            </div>
          </div>
        </div>
      </div>

      <div class="col-lg-4" [@fadeInUp]>
        <div class="bg-white shadow d-flex align-items-center h-100 p-4" style="min-height: 150px;">
          <div class="d-flex">
            <div class="flex-shrink-0 btn-lg-square bg-primary"></div>
            <div class="ps-4">
              <h5>Impact Social</h5>
              <span>Chaque contribution a un impact, ensemble nous pouvons transformer des vies.</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Facts End -->

<!-- About Start -->
<div class="container-xxl py-5">
  <div class="container">
    <div class="row g-5">
      <div class="col-lg-6" [@fadeInUp]>
        <div class="position-relative overflow-hidden ps-5 pt-5 h-100" style="min-height: 400px;">
          <img class="position-absolute w-100 h-100" src="assets/zze.webp" alt="" style="object-fit: contain;">
          <img class="position-absolute top-0 start-0 bg-white pe-3 pb-3" src="assets/donnaw-high-resolution-logo-grayscale-transparent.png" alt="" style="width: 300px; height: 200px;">
        </div>
      </div>

      <div class="col-lg-6" [@fadeInUp]>
        <div class="h-100">
          <h6 class="text-primary text-uppercase mb-2">À Propos de Nous</h6>
          <h1 class="display-6 mb-4">Notre mission est d'apporter un changement positif à travers les donations.</h1>
          <p> Fondé par <b> Alae Mchimcha et Aimane Mohcine </b>, entrepreneurs passionné et expert dans le domaine des causes humanitaires, nous nous engageons à créer un impact réel et durable dans la vie des individus et des communautés.</p>
          <p class="mb-4">Avec des années d'expérience dans le secteur de l'aide humanitaire, notre organisation propose des solutions adaptées et responsables pour les populations vulnérables.</p>
          <p class="mb-4">Notre objectif est de bâtir un avenir où chaque personne a accès à l'aide nécessaire pour une vie digne et prospère. Rejoignez-nous dans cette belle aventure humaine.</p>
          <div class="row g-4">
            <div class="col-sm-6">
              <a class="btn btn-outline-primary w-100 py-3 px-5" [routerLink]="['/Inscription']">Inscrit-Vous !</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- About End -->




